{% extends "layout.html" %}

{% block title %}
    register
{% endblock %}

{% block main %}


    <div class="form-container" id="register-page">
        <form action="/register" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input autocomplete="off" autofocus name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Username</label>
                <input autocomplete="off" autofocus name="username" type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input autocomplete="off" autofocus name="password" required type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Re-enter your Password</label>
                <input autocomplete="off" autofocus name="confirmation" required type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

    </div>
{% endblock %}
